<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
<head>
  <meta charset="UTF-8">
  <title><%= locals.title || "demo.okta Security Demo" %></title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="shortcut icon" href="https://cdn.demo.okta.com/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="//cdn.auth0.com/styleguide/1/index.css">
  <link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<style>

    body {
      background-image: url("https://demo-eng-public-static-resources.s3.amazonaws.com/demo-okta-background.png");
      background-size: cover;
    }
    
    nav {
        background-color: #3F59E4; 
    }
    
    #map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

    </style>
<body>
    <nav class="flex items-center justify-between flex-wrap p-6">

        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <img class="fill-current h-10 w-10 mr-2" width="100" height="100" viewBox="0 0 250 250" src="https://demo-eng-public-static-resources.s3.amazonaws.com/okta-icon.png"></img>
            <span class="font-semibold text-xl tracking-tight">demo.okta Security Demo</span>
        </div>

        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Home</a>
                <% if (locals.user) { %>
                    <a  href="/security" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Security Demo</a>    
                    <a  href="/logout" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Logout</a>
                <% } else { %>
                    <a  href="/login" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Login</a>
                <% } %>
            </div>

            <div>
                <a  href="https://demo.okta.com" 
                    target="blank"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
                    <span class="font-semibold text-xl tracking-tight">demo.okta</span>
                    
                </a>
            </div>
        </div>
    </nav>
    <div class="flex justify-center py-4">
            <div class="w-5/6 lg:w-3/4 bg-white p-4 rounded overflow-hidden shadow-lg">
                