CLIENT_ID=P7Jll2zMUZe6fvJs46bWRkCzTSyllh5X
ISSUER_BASE_URL=https://vandelay-industries.us.auth0.com
SEC_DOMAIN=demo-platform-secops.us.auth0.com
SEC_TENANT_BASE_URL=https://demo-platform-secops.us.auth0.com
SEC_TENANT_CLIENT_ID_BRUTE=lpnmBB85NhASSRcsUqd5a5miI3fQNzkj
SEC_TENANT_CLIENT_SECRET_BRUTE=....
SEC_TENANT_REALM=Username-Password-Authentication
SEC_TENANT_USER=demo.eng@atko.email
SEC_TENANT_WRONG_PW=password
SEC_TENANT_CORRECT_PW=Password!23
SEC_TENANT_BREACHED_USER=demo.okta@breached.user
SEC_TENANT_BREACHED_PW=Paaf213XXYYZZ
SECRET=72731965127798209601
BASE_URL=http://localhost:3000